In [2]:
import numpy as np # linear algebra
import pandas as pd
import sklearn# data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
data=pd.read_csv('50_Startups.csv')
data.head(4)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99

In [3]:
data.State.value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [4]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [5]:
data=pd.get_dummies(data)

In [6]:
data.head(4)

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1

In [7]:
X=data.drop(['Profit'],axis=1)
X.head(4)

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,0,0,1
1,162597.70,151377.59,443898.53,1,0,0
2,153441.51,101145.55,407934.54,0,1,0
3,144372.41,118671.85,383199.62,0,0,1

In [8]:
Y=data.Profit
Y.head(4)

0    192261.83
1    191792.06
2    191050.39
3    182901.99
Name: Profit, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [10]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [11]:
regressor.predict(np.array([2]).reshape(1, 1))

ValueError: shapes (1,1) and (6,) not aligned: 1 (dim 1) != 6 (dim 0)

In [41]:
Y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [52]:
Y_Test=np.asarray(Y_test)
Y_Test

array([103282.38, 144259.4 , 146121.95,  77798.83, 191050.39, 105008.31,
        81229.06,  97483.56, 110352.25, 166187.94])

In [55]:
rows, cols = (10, 10) 
arr = [[0]*cols]*rows

In [56]:
arr=regressor.score(Y_pred,Y_Test)

ValueError: Expected 2D array, got 1D array instead:
array=[103015.20159796 132582.27760816 132447.73845174  71976.09851258
 178537.48221055 116161.24230165  67851.69209676  98791.73374687
 113969.43533012 167921.0656955 ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.