In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset_train=pd.read_csv("t_train.csv")
dataset_test=pd.read_csv("t_test.csv")
x_train=dataset_train.drop("Survived",axis=1)
y_train=dataset_train["Survived"]
x_test=dataset_test

In [3]:
x_train=x_train.drop('PassengerId',axis=1)
x_train=x_train.drop('Name',axis=1)
x_train=x_train.drop('Ticket',axis=1)
x_train=x_train.drop('Cabin',axis=1)

In [4]:
x_test=x_test.drop('Name',axis=1)
x_test=x_test.drop('PassengerId',axis=1)
x_test=x_test.drop('Ticket',axis=1)
x_test=x_test.drop('Cabin',axis=1)

In [5]:
x_train=pd.get_dummies(x_train)
x_test=pd.get_dummies(x_test)

In [6]:
x_train.Age.fillna(x_train.Age.mean(), inplace=True)
x_test.Age.fillna(x_test.Age.mean(), inplace=True)
x_test.Fare.fillna(method='bfill',inplace=True)

In [7]:
train_stats=x_train.describe()
train_stats=train_stats.transpose()
train_stats

,count,mean,std,min,25%,50%,75%,max
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.000000,3.0,3.0000
Age,891.0,29.699118,13.002015,0.42,22.0000,29.699118,35.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.000000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.000000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.454200,31.0,512.3292
Sex_female,891.0,0.352413,0.477990,0.00,0.0000,0.000000,1.0,1.0000
Sex_male,891.0,0.647587,0.477990,0.00,0.0000,1.000000,1.0,1.0000
Embarked_C,891.0,0.188552,0.391372,0.00,0.0000,0.000000,0.0,1.0000
Embarked_Q,891.0,0.086420,0.281141,0.00,0.0000,0.000000,0.0,1.0000
Embarked_S,891.0,0.722783,0.447876,0.00,0.0000,1.000000,1.0,1.0000

In [8]:
def norm_train(x):
  return (x - train_stats['mean']) / train_stats['std']
x_train=norm_train(x_train)
x_test=norm_train(x_test)

In [9]:
from sklearn.ensemble import GradientBoostingClassifier
clf=GradientBoostingClassifier(learning_rate=0.01,n_estimators=50).fit(x_train,y_train).predict(x_test)
print(clf)

[0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0
 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0
 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 0 0 0 1 0 0 1 0 0 0]

In [10]:
dict={'Survived':clf}
df = pd.DataFrame(dict) 
df.to_csv('Titanicsklearn.gradient.csv')